<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>ByteBag - Piactér</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="market.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <script src="https://kit.fontawesome.com/543ba7d761.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="shortcut icon" href="/logo" type="image/x-icon">

</head>

<body>
  <div class="load" id="load">
    <div class="center">
      <span class="loader"></span>
    </div>
  </div>
  <div id="myModal" class="modal">
    <div class="modal-content">
      <form id="modalForm" enctype="multipart/form-data">
        <!--Cím-->
        <div class="form-group">
          <label for="title">Cím:</label>
          <br>
          <input type="text" id="title" name="title" maxlength="120" required>
        </div>
        <!--tartalom-->
        <div class="form-group">
          <label for="post">Tartalom:</label><br>
          <textarea type="post" id="post" name="post" required></textarea>
        </div>
        <!--Ár-->
        <div class="form-group">
          <label for="price">Ár: [Az ár Forintban értetedő!]</label>
          <input type="number" name="price" id="price" min="0" required>
        </div>
        <!--kepfeltolto-->
        <div>
          <label for="images" class="drop-container" id="dropcontainer">
            <span class="drop-title">Húzza ide a képet</span>
            vagy
            <input type="file" class="kepfeltolot" id="images" name="images" maxlength="10" max="10" accept="image/*" required multiple>
          </label>
        </div>
        <div class="button-group">
          <button type="button" onclick="closeModal()" id="cancelButton">Mégse</button>
          <button type="submit" id="okButton">Eladás</button>
        </div>
      </form>
    </div>
  </div>


  <div id="profilModal" class="profil">
    <div class="profil-content">
      <h1 id="profilid">Profil</h1>
      <form id="profilForm">
        <div class="profil-group">
          <label for="username">Profilkép:</label>
          <input type="text" id="" name="username" disabled>
        </div>
        <div class="profil-group">
          <label for="nowusername">Felhasználónév:</label>
          <input type="text" id="nowusername" name="nowusername" disabled>
        </div>
        <div class="profil-group">
          <label for="email">E-mail:</label>
          <input type="email" id="email" name="email" disabled>
        </div>
        <div class="profil-group">
          <label for="password">Jelszó módosítása:</label>
          <input type="password" minlength="6" id="updatepassword" name="password" required>
        </div>
        <div class="profilbutton-group">
          <button type="button" onclick="closeProfil()" id="profilcancelButton">Mégse</button>
          <button type="submit" id="profilokButton">Kész</button>
        </div>
      </form>
    </div>
  </div>

  <header class="nav">
    <div class="logo">
      <img class="logoimg" src="/logo" alt="">
      <a id="navCim" href="/home" target="" rel="noopener noreferrer" class="">BYTEBAG</a>
    </div>
    <div class="search">
      <form action="/searchmar" method="get">
        <input type="search" name="m" id="m" placeholder="Keresés..." class="searchiput" maxlength="40">
        <button class="searchBTN"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>
    <div class="navBTN">
      <a href="/home"><button id="" class="mneuNAVBTN">Fórum</button></a>
      <button id="gotomarket" class="mneuNAVBTN">Piactér</button>
      <button onclick="chat()"><i class="fa-regular fa-comment-dots"></i></button>
      <button onclick="seeprofil()"><i class="fa-regular fa-user"></i></button>
      <button onclick="logout()"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
    </div>
  </header>
  <h2 class="title">Piactér</h2>
  <hr>
  <h4 class="title">Hirdetések</h4>
  <main class="container">
    <div class="main-title">
      <button id="openModalButton"><i class="fa-regular fa-plus"></i></button>
    </div>
    <div id="allpost">
    </div>
  </main>


  <script src="./market.js"></script>
</body>

</html>