<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ByteBag - 404</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/login.css">
    <link rel="shortcut icon" href="/logo" type="image/x-icon">
</head>

<body>
    <div class="login-page">
        <div class="form"
            style="display: grid; place-self: center; max-width: 360px; width: 100%; max-height: 240px; height: 100%;">
            <h2 class=" message" style="font-size: 70px;">404</h2>
            <h2 style="font-size: 15px; margin-top: -20px;">Hoppá! Az oldal nem található!</h2>
            <p class=" message" style="font-size: 18px; margin-top: 10px;"><a href="/home">Vissza a főoldalra...</a>
            </p>
        </div>
    </div>


</body>

</html>