* {
  transition: .1s ease-in-out;
  scroll-behavior: smooth;
}

html {
  min-height: 100dvh;
  font-family: 'Montserrat';
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#3A0061, #000823);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-bottom: 40px;
}


.load {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(#3A0061, #000823);
  z-index: 6;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}

.loader::before {
  content: "";
  position: absolute;
  height: 47px;
  width: 47px;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #FFF;
  animation: prixClipFix 2s linear infinite;
  rotate: 44deg;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg)
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
  }
}



.nav {
  padding-top: 10px;
  padding-bottom: 20px;
  width: 100%;
  color: aliceblue;
  min-height: 60px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.logo {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 5px;
  top: -3px;
  align-items: center;
}

.logoimg {
  max-height: 90px;
}

.search {
  position: absolute;
  left: auto;
  right: auto;
}

.search>form {
  display: flex;
}

.searchiput {
  max-width: 220px;
  height: 30px;
  width: 100%;
  border-radius: 50px 0px 0px 50px;
  border: none;
  padding-left: 10px;
  padding-right: 8px;
}

.searchBTN {
  background-color: white;
  border: none;
  margin: 0px;
  height: 30px;
  width: 35px;
  border-radius: 0 50px 50px 0;
  text-align: center;
}

.searchBTN:hover {
  box-shadow: 1px 1px 3px rgb(43, 43, 43);
}

.searchBTN:active {
  box-shadow: inset 1px 1px 3px rgb(43, 43, 43);
}

.navBTN {
  text-decoration: nones;
  font-family: 'Montserrat';
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 50px;
  gap: 0px;
  top: 20px;
  align-items: center;
}

.navBTN button {
  color: white;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: none;
  padding: 0;
}

.navBTN .mneuNAVBTN {
  gap: 0px;
  width: 100px;
  right: 100px;
  border: none;
  background-color: transparent;
  color: white;
  font-family: 'Montserrat';
}

a {
  text-decoration: none;
}

.navBTN button:hover {
  text-shadow: 0px 0px 30px white;
  transform: scale(1.04);
}

.navBTN button:active {
  text-shadow: 0px 0px 30px white;
  transform: scale(1.04);
}

#navCim {
  color: white;
}

@media only screen and (max-width: 960px) {
  .navBTN {
    right: 10px;
  }

  .search {
    position: absolute;
    left: auto;
    right: auto;
  }

  .logoimg {
    max-height: 90px;
  }
}

@media only screen and (max-width: 850px) {
  .nav {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(2, 50px);
    padding-bottom: 10px;
    gap: 10px;
    place-items: center;
  }

  .logo {
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    grid-column: 1;
  }

  .search {
    margin-top: 15px;
    display: flex;
    position: relative;
    grid-column: 2;
  }

  .searchBTN {
    display: block;
    position: relative;
  }

  .navBTN {
    display: flex;
    position: relative;
    grid-column: 1 / span 2;
    grid-row: 2;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 490px) {
  .nav {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 50px);
    padding-bottom: 10px;
    gap: 10px;
    place-items: center;
  }

  .logo {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    grid-column: 1;
    grid-row: 1;
    margin-top: 2px;
    margin-left: -15px;
    max-height: 60px;
  }
  .logoimg{
    max-height: 75px;
  }

  .search {
    margin-top: 15px;
    display: flex;
    position: relative;
    width: 100%;
    grid-column: 1;
    grid-row: 2;
    align-content: center;
    justify-content: center;
  }

  .searchBTN {
    display: block;
    position: relative;
  }

  .navBTN {
    width: 100%;
    display: flex;
    position: relative;
    padding: 0;
    gap: 0;
    grid-column: 1;
    grid-row: 3;

    align-content: center;
    justify-content: center;
  }

  .mneuNAVBTN {
    max-width: 80px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1600px;
}

.title {
  text-align: center;
}

.main-title {
  position: static;
}

.main-title>button {
  position: fixed;
  right: 20px;
  bottom: 20px;

  z-index: 5;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  color: white;
  font-size: 16px;
  text-shadow: 0px 0px 10px black;
  background: linear-gradient(0deg, #48005e, #360781);
  border: 1px solid #d8d8d850;
}

.main-title>button:hover {
  box-shadow:inset 1px 1px 8px rgba(255, 255, 255, 0.5);
}

.main-title>button:active {
  box-shadow: inset 1px 1px 10px rgb(255, 255, 255, 0.5);
}

hr {
  width: 20%;
  margin-bottom: 5px;
  margin-top: 5px;
}



.cardlink {
  text-decoration: none;
  color: white;

  max-width: 600px;
  max-height: 500px;
  margin-top: 15px;
}

.cardlink:hover {
  transform: scale(1.01);
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid;
  -webkit-box-shadow: inset 0px 0px 10px 0px white;
  box-shadow: inset 0px 0px 10px 0px white;
  font-size: medium;
  text-shadow: 0px 0px 6px black;
  overflow: hidden;
  height: 100%;
  text-align: left;
}

.card-head {
  display: grid;
  place-items: center;
  text-align: center;
  font-size: larger;
  margin: 5px;
  max-width: 600px;
  height: 240px;
  overflow: hidden;
}

.card-head img {
  display: block;
  border-radius: 7px;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: auto;
  object-fit: cover;
  overflow: hidden;
}

.card-body {
  font-size: 18px;
  display: grid;
  place-items: center;
  flex-grow: 1;
  /* Kitölti a rendelkezésre álló teret */
  max-width: 600px;
  height: 40px;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin: 10px;
  overflow: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.card-foot {
  position: relative;
  height: 60px;
  display: grid;
  grid-template-columns: 100%;
  place-items: center;
  flex-shrink: 0;
  padding-bottom: 10px;
}

@media only screen and (max-width: 480px) {}


.card-foot>.author {
  color: #a1ff6b;
  font-size: 21px;
}

.card-foot>.time {
  color: #d2f1ff;
}

#allpost,
#serachres {
  display: grid;
  place-content: center;
  gap: 15px;
  width: 100%;
  grid-area: 100%;
  grid-template-columns: repeat(auto-fit, minmax(150px, 350px));
  margin-bottom: 20px;
}


/*mymodal*/
/* A modal alapstílusa */
.modal {
  color: black;
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}

/* A modal tartalmának stílusa */
.modal-content {
  overflow: auto;
  font-family: 'Montserrat';
  text-align: center;
  color: white;
  position: relative;
  top: 50%;
  left: 50%;
  max-height: 80%;
  height: 100%;
  min-width: 200px;
  max-width: 600px;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 4px solid rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 0px 10px 0px white;
  box-shadow: 0px 0px 10px 0px white;
  width: 100%;
  background: linear-gradient(#3A0061, #000823);
  box-sizing: border-box;
  border-radius: 15px;
}

/* Form csoportok */
.form-group {
  margin-bottom: 15px;
  color: white;
  margin: 5px;
  text-align: center;
}

/* Címkék */
.form-group label {
  margin-top: 20px;
  display:inline-block;
  max-width: 100%;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;
  
  text-wrap: wrap;
  word-wrap: break-word;
  word-break: break-all;
}

/* Input mezők */
.form-group input {
  display: inline-block;
  text-align: center;
  width: 80%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 5px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.form-group input:disabled {
  color: grey;
}

/* Gombok */
#okButton {
  font-weight: bold;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Montserrat';
  margin-left: 5px;
  border-radius: 15px;
  background-color: transparent;
  color: #04AA6D;
  border: 2px solid #04AA6D;
  padding: 10px 50px;
  padding-left: 35px;
  padding-right: 35px;
}

#okButton:hover {
  color: white;
  background-color: #04AA6D;
  text-shadow: 0px 0px 20px black;
  transform: scale(1.04);
}

.button-group button {
  margin-top: 50px;
  margin-right: 30px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Montserrat';
  color: white;
  background-color: transparent;
  border: none;
}
.button-group button:hover {
  color: white;
  background-color: #04AA6D;
  text-shadow: 0px 0px 20px black;
  transform: scale(1.04);
}

#cancelButton {
  font-weight: bold;
  font-size: 12px;
  font-family: 'Montserrat';
  border-radius: 15px;
  background-color: transparent;
  color: red;
  border: 2px solid red;
  padding: 10px 40px;
  margin-left: 20px;
}

#cancelButton:hover {
  background-color: red;
  color: white;
  text-shadow: 0px 0px 20px black;
  transform: scale(1.04);
}

@media only screen and (max-width: 393px) {
  .button-group button{
    margin-top: 10px;
    margin-right: 0;
  }
  #cancelButton{
    margin: 40px 0 0 0;
  }
  #okButton{
    margin: 20px 0 0 0;
  }
}


textarea {
  height: 100px;
  max-height: 400px;
  max-width: 600px;
  border-radius: 10px;
  
  border: 4px solid rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 0px 10px 0px white;
  box-shadow: 0px 0px 10px 0px white;
  background-color: transparent;
  color: #d2f1ff;
  padding: 5px;
}


.drop-container {
  margin-top: 40px;
  width: 95%;
  height: 200px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-content: center;
  justify-content: center;
  
  border-radius: 10px;
  border: 2px dashed white;
  color: white;
  cursor: pointer;
  transition: .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
  background: #eee;
  border-color: #111;
  color: #111;
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: .2s ease-in-out;
}
@media only screen and (max-width: 490px) {
  input[type=file]::file-selector-button {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    width: 80%;
    text-align: center;
    margin: 0;
  }
  .drop-container {
    width: 86%;
  }
}


input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}

#post {
  resize: vertical;
  width: 100%;
  max-height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  min-height: 40px;
}






/*profilmodal*/
/* A modal alapstílusa */
.profil {
  color: black;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}

/* A modal tartalmának stílusa */
.profil-content {
  text-align: center;
  color: white;
  position: relative;
  top: 50%;
  left: 50%;
  min-width: 250px;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 4px solid rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 0px 10px 0px white;
  box-shadow: 0px 0px 10px 0px white;
  width: 30%;
  background: linear-gradient(#3A0061, #000823);
  box-sizing: border-box;
  border-radius: 15px;
}

/* Form csoportok */
.profil-group {
  margin-bottom: 15px;
  color: white;
  margin: 5px;
}

/* Címkék */
.profil-group label {
  display: inline-block;
  width: 150px;
  font-weight: bold;
}

/* Input mezők */
.profil-group input {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  font-size: 13px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.profil-group input:disabled {
  color: grey;
}



/* Gombok */
.profilbutton-group {
  padding-bottom: 20px;
  padding-top: 30px;
  border-radius: 15px;
  text-align: center;
}

.button-group button {
  margin-left: 15px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Montserrat';
  color: white;
  background-color: transparent;
  border: none;
}

.profilbutton-group button {
  font-weight: bold;
  font-family: 'Montserrat';
  margin-left: 5px;
  border-radius: 15px;
  background-color: transparent;
  color: #04AA6D;
  border: 2px solid #04AA6D;
  padding: 10px 50px;
}

.profilbutton-group button:hover {
  color: white;
  background-color: #04AA6D;
  text-shadow: 0px 0px 20px black;
  transform: scale(1.04);
}

#profilcancelButton {
  font-weight: bold;
  font-family: 'Montserrat';
  border-radius: 15px;
  background-color: transparent;
  color: red;
  border: 2px solid red;
  padding-left: 40px;
  padding-right: 40px;
}

#profilcancelButton:hover {
  background-color: red;
  color: white;
  text-shadow: 0px 0px 20px black;
  transform: scale(1.04);
}

/*scrollbar*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}